include ./config.pug
include ../config.pug

.swiper.reviews__swiper
    .swiper-wrapper
        for i in hotelPhotos
            .swiper-slide
                img(src=i alt="Slider").hotel-info__swiper-img

    button.swiper__btn.swiper-button-prev
    button.swiper__btn.swiper-button-next

script(src=path+"slider/js/swiper-bundle.min.js")
script(src=path+"slider/js/swiper-bundle.min.js.map")
script(src=path+"slider/js/main.js")