section.subscribe.content__subscribe
    .container
        .subscribe__wrap
            h2.subscribe__title subscribe to our
                span.subscribe__strong <br>Newsletter
            
            form.subscribe__form(action="#")
                input.subscribe__input(type="text", placeholder="Your email address")
                button.subscribe__button Send

script(src="/2_hotel-booking/js/jquery-3.6.0.min.js")
script(src="/2_hotel-booking/blocks/subscribe/js/parallax.min.js")
script(src="/2_hotel-booking/blocks/subscribe/js/main.js")