script(src="/2_hotel-booking/blocks/subscribe/subscribe.js")

section.subscribe.content__subscribe
    .container
        .subscribe__wrap
            h2.subscribe__title subscribe to our
                span.subscribe__strong <br>Newsletter
            
            form.subscribe__form(action="#")
                input.subscribe__input(type="text", placeholder="Your email address")
                button.subscribe__button Send