- var username = "Nathan"
- var avatar = "img/user-avatar.png"
- var navbarmenu__items = ["All Deals", "Hotels", "Activities", "Hotel Day Packages", "Restaurants", "Events", "Rodrigues"]
- var path = "/hotel-booking/src/blocks/header/"