@import "./swiper-bundle.min.scss";
$path: "/2_hotel-booking/blocks/reviews/";

.swiper {
  max-width: 728px;
  max-height: 450px;
  border-radius: 8px;

  &-button-prev {
    z-index: 3;
    border: none;
    background: none;
    background-image: url($path+"slider/img/button-prev.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 30px;
    max-height: 30px;
    left: 0;
    margin-left: 16px;
  }
  
  &-button-next {
    z-index: 4;
    border: none;
    background: none;
    background-image: url($path+"slider/img/button-next.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 30px;
    max-height: 30px;
    right: 0;
    margin-right: 16px;
  }
}

