@import "../rating/rating.scss";

.hotel-info {
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__stars {
        height: 6px;
        flex-basis: 100%;
        display: flex;
    }

    &_text {
        display: flex;
    }

    &__name {
        margin: 4px 0 0 0;
        @include font-mulish(24px, 700, $font-grey, 30px);
        text-transform: uppercase;
    }

    &__offer {
        padding: 3px 9px;
        margin: 4px 0 0 23px;
        background-color: $red;
        border-radius: 3px;
        @include font-mulish(10px, 600, $light, 13px);
    }

    &__description {
        margin: 0 0 20px 0;
    }

    &__description {
        @include font-mulish(12px, 400, $font-grey, 15px);
    }
}