- var hotel = "GRAND HILTON HOTEL"
- var isFlashOffer = true
- var description = "Half-Board / All Inclusive + Complimentary Activities + Child Stays Free"
- var starCounter = 5
- var path = "/2_hotel-booking/blocks/hotel-info/"