include ./config.pug

section.hotel-info
    .container
        .hotel-info__wrap
            .hotel-info__wrapper
                .hotel-info__stars
                    - for (var x=0; x<star_counter; x++)
                        img(src=img+"hotel-info/img/star.svg", alt="Star").hotel-info__star
                h1.hotel-info__name #{hotel}
                if isFlashOffer
                    span.hotel-info__offer Flash Offer
            include ../rating/rating.pug
            
        p.hotel-info__description #{description}
    