* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Museo Cyrl 900';
    src: url(../fonts/MuseoCyrl-900.woff) format('woff'),
        url(../fonts/MuseoCyrl-900.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #202020;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    max-width: 1367px;
    font-size: 14px;
}

.header__container {
    padding: 22px 0;
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.header__logo {
    margin-right: 7.3%;
}

.nav {
    text-align: center;
    line-height: 24px;
}

.nav__link {
    text-decoration: none;
    color: #202020;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 11px;
    white-space: nowrap;
}

.login {
    text-decoration: none;
    color: #202020;
    font-weight: 400;
    white-space: nowrap;
}

.header__login {
    margin-left: 7.3%;
    white-space: normal;
}

/* Главная секция */

.hero__container {
    display: flex;
    margin: calc(59px + 62px) auto 71px auto;
    width: 81%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hero__img-wrap {
    width: 45%;
    min-width: 330px;
    position: relative;
    margin-right: 15px;
}
.hero__img {
    width: 100%;
}
.hero__discount {
    position: absolute;
    top: 23px;
    right: 0;
    background-color: #c93535;
    color: #fff;
    padding: 12px 22px;
    font-size: 18px;
    font-weight: 500;
}

.hero__text {
    width: 45%;
}

.hero__author {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 22px;
}

.hero__title {
    font-family: 'Museo Cyrl 900', serif;
    margin-top: 0;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero__subtitle {
    display: block;
    margin-top: 0;
    font-size: 24px;
    flex-wrap: 400;
    line-height: 29px;
    margin-bottom: 48px;
}

.hero__info {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 46px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.hero__info-text {
    flex-basis: 50%;
    margin-bottom: 16px;
}

.hero__price {
    margin-bottom: 48px;
    max-height: 55px;
    display: flex;
    align-items: center;
}

.hero__pricetag {
    font-size: 36px;
    font-weight: 400;
    margin-right: 30%;
    white-space: nowrap;
}

.hero__icon {
    margin-right: 7px;
}

.hero__favorites {
    text-decoration: none;
    color: #202020;;
}

.hero__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    border: 2px solid transparent;
}
.hero__button {
    text-decoration: none;
    color: #202020;
    width: 48%;
    padding: 22px 5px;
}
.hero__button--primary {
    background-color: #f89c02;
    color: #fff;
}
.hero__button--outline {
    background-color: #fff;
    color: #f89c02;
    border: 2px solid #f89c02;
}
.hero__button-link--outline {
    color: #f89c02;
    text-decoration: none;
}

/* О книге */

.about {
    background-color: #f1f1f1;
    padding: 95px 0;
}

.about__container {
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about__book {
    width: 45%;
    min-width: 200px;
    flex-shrink: 0;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
}

.about__text {
    display: block;
    font-size: 16px;
    line-height: 24px;
}

.about__author {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 65px 54px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
}

.about__author-avatar {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 17px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.about__author-bio {
}

.about__author-name {
    margin: 0 0 13px 0;
    font-size: 16px;
    font-weight: 700;
}

.about__author-link {
    text-decoration: none;
    color: #202020;
    font-size: 16px;
    word-break: break-all;
}

.about__author-text {
    flex-basis: 100%;
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0 0 0;
}

/* Читатели */

.readers__container {
    width: 81%;
    margin: auto;
    padding: 88px 0;
}

.readers__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
}

.readers__photo {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin-bottom: 29px;
}

/* Подвал */

.footer {
    background-color: #f1f1f1;
}

.footer__container {
    padding: 60px 0;
    width: 81%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__link {
    text-decoration: none;
    color: #202020;
}

.footer__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list-item {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.return {
    padding: 17px;
    background-color: #fff;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 4px;
}
.footer__return {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer__block {
    width: calc(100%/3);
}

@media (max-width: 1121px) {
    .nav {
        display: none;
    }
}

@media (max-width: 1237px) {
    .readers__photo:nth-last-child(-n+2) {
        display: none;
    }
}

@media (max-width: 992px) {
    .about__book {
        width: 100%;
        margin-bottom: 50px;
    }
    .about__author {
        width: 70%;
    }
    .hero__title {
        font-size: 46px;
    }
    .readers__photo:nth-last-child(-n+4) {
        display: none;
    }
    .readers__photo {
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 834px) {
    .hero__favorites {
        display: none;
    }
}

@media (max-width: 773px) {
    .hero__img-wrap {
        margin-bottom: 60px;
        width: 100%;
    }
    .hero__text {
        width: 75%;
    }
    .hero__price {
        margin-bottom: 40px;
    }
    .about__author {
        width: 100%;
    }
    .readers__photo:nth-child(-n+2) {
        display: none;
    }
    .readers__photo {
        width: 25vw;
        height: 25vw;
    }
    .footer__block {
        width: 45%;
    }
    .footer__block--margin {
        margin-bottom: 60px;
    }
}

@media (max-width: 576px) {
    .hero__text {
        width: 100%;
    }
    .hero__button {
        width: 100%;
        margin-bottom: 21px;
    }
    .hero__info-text {
        flex-basis: 100%;
    }
    .hero__pricetag {
        margin-right: 27px;
    }
    .footer__block {
        width: 55%;
    }
    .footer__block {
        margin-bottom: 36px;
    }
    .hero__author {
        font-size: 18px;
    }
    .hero__title {
        font-size: 36px;
    }
    .hero__subtitle {
        font-size: 20px;
    }
    .readers__container {
        padding: 55px 0;
    }
}

@media (max-width: 425px) {
    .hero__img-wrap {
        min-width: 263px;
    }
}

@media (max-width: 320px) {
    .hero__author {
        font-size: 16px;
    }
    .hero__title {
        font-size: 24px;
    }
    .hero__subtitle {
        font-size: 18px;
    }
    .hero__text {
        font-size: 14px;
    }
    .readers__photo:nth-last-child(-n+6) {
        display: none;
    }
}

@media (min-width: 1238px) {
    .readers__photo {
        width: 12vw;
        height: 12vw;
    }
}