* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Museo Cyrl 900';
    src: url(../fonts/MuseoCyrl-900.woff) format('woff'),
        url(../fonts/MuseoCyrl-900.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #202020;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    max-width: 1367px;
    font-size: 14px;
}

.header__container {
    padding: 22px 0;
    max-width: 1138px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.header__logo {
    margin-right: 100px;
}

.nav {
    text-align: center;
    line-height: 24px;
}

.nav__link {
    text-decoration: none;
    color: #202020;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 11px;
    white-space: nowrap;
}

.login {
    text-decoration: none;
    color: #202020;
    font-weight: 400;
    white-space: nowrap;
}

.header__login {
    margin-left: 100px;
}

/* Главная секция */

.hero__container {
    display: flex;
    margin: auto;
    margin-top: calc(59px + 62px);
    margin-bottom: 71px;
    max-width: 1105px;
    justify-content: flex-start;
    align-items: center;
}

.hero__img {
    width: 460px;
}

.hero__author {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 22px;
}

.hero__title {
    font-family: 'Museo Cyrl 900', serif;
    margin-top: 0;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero__subtitle {
    display: block;
    margin-top: 0;
    font-size: 24px;
    flex-wrap: 400;
    line-height: 29px;
    margin-bottom: 48px;
}

.hero__info {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 46px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.hero__info-text {
    flex-basis: 50%;
    margin-bottom: 16px;
}

.hero__price {
    margin-bottom: 48px;
    max-height: 55px;
    display: flex;
    align-items: center;
}

.hero__pricetag {
    font-size: 36px;
    font-weight: 400;
    margin-right: 160px;
}

.hero__icon {
    margin-right: 7px;
}

.hero__favorites {
    text-decoration: none;
    color: #202020;;
}

.button {
    font-size: 16px;
    font-weight: 700;
    padding: 22px 59px;
    border-radius: 3px;
    border: 2px solid transparent;
}

.hero__button {
    text-decoration: none;
    color: #202020;
}
.hero__button--primary {
    margin-right: 20px;
    background-color: #f89c02;
    color: #fff;
}

.hero__button--outline {
    background-color: #fff;
    color: #f89c02;
    border: 2px solid #f89c02;
}

.hero__button-link--outline {
    color: #f89c02;
    text-decoration: none;
}

.hero__img-wrap {
    position: relative;
    margin-right: 122px;
}

.hero__discount {
    position: absolute;
    top: 23px;
    right: 0;
    background-color: #c93535;
    color: #fff;
    padding: 12px 22px;
    font-size: 18px;
    font-weight: 500;
}

/* О книге */

.about {
    background-color: #f1f1f1;
    padding: 95px 0;
}

.about__container {
    max-width: 1105px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.about__book {
    max-width: 460px;
    flex-shrink: 0;
    margin-right: 122px;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
}

.about__text {
    display: block;
    font-size: 16px;
    line-height: 24px;
}

.about__author {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 65px 54px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
}

.about__author-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 17px;
    border-radius: 50%;
}

.about__author-bio {
}

.about__author-name {
    margin: 0 0 13px 0;
    font-size: 16px;
    font-weight: 700;
}

.about__author-link {
    text-decoration: none;
    color: #202020;
    font-size: 16px;
}

.about__author-text {
    flex-basis: 100%;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 0 0;
}

/* Читатели */

.readers__container {
    max-width: 1105px;
    margin: auto;
    padding: 88px 0;
}

.readers__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.readers__photo {
    width: 167px;
    height: 167px;
    object-fit: cover;
    margin-bottom: 29px;
}

/* Подвал */

.footer {
    background-color: #f1f1f1;
}

.footer__container {
    padding: 60px 0;
    max-width: 1105px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer__link {
    text-decoration: none;
    color: #202020;
}

.footer__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list-item {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.return {
    padding: 17px;
    background-color: #fff;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 4px;
}

.footer__return {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer__block {
    width: calc(100%/3);
}