- var path = "/2_hotel-booking/blocks/footer/img/"

- 
    const categoriesItems = [
        {
            name: "All Deals",
            link: "#",
        },
        {
            name: "Hotels",
            link: "#",
        },
        {
            name: "Activities",
            link: "#",
        },
        {
            name: "Spa Packages",
            link: "#",
        },
        {
            name: "Hotel Day Packages",
            link: "#",
        },
        {
            name: "Restaurants",
            link: "#",
        },
        {
            name: "Fitness",
            link: "#",
        },
        {
            name: "Rodrigues",
            link: "#",
        },
    ]

- 
    const additionalInformation = [
        {
            name: "About Us",
            link: "#",
        },
        {
            name: "Contact Us",
            link: "#",
        },
        {
            name: "How does it work?",
            link: "#",
        },
        {
            name: "Frequently Asked Questions",
            link: "#",
        },
        {
            name: "Deals.mu loyalty program",
            link: "#",
        },
        {
            name: "Promote your Business on BTP",
            link: "#",
        },
    ]

- 
    const socialNetwork = [
        {
            name: "Facebook icon",
            img: path+"fb.svg",
            link: "#",
        },
        {
            name: "Youtube icon",
            img: path+"yt.svg",
            link: "#",
        },
        {
            name: "Instagram icon",
            img: path+"inst.svg",
            link: "#",
        },
    ]

- 
    const legalInformtion = [
        {
            name: "Terms & Conditions",
            link: "#",
        },
        {
            name: "Disclaimer",
            link: "#",
        },
        {
            name: "Cancellation policy",
            link: "#",
        },
        {
            name: "Privacy",
            link: "#",
        },
    ]