.header__top {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    background-color: #fff;
}

.header__logo-img {
    @include adaptive-width(177px);
    margin-right: (108px / 1440px) * 100vw;
}

@import "_search.scss";

.header__search {
    margin-right: (368px / 1440px) * 100vw;
}

@import "user.scss";