.user {
    display: flex;
    @include adaptive-width(107px);
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $font-grey;

    &__avatar {
        @include adaptive-width(40px);
        height: (40px / 1440px) * 100vw;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        @include font-mulish(14px, 400, $font-grey, 17.57px);
        margin-left: (18px / 1440px) * 100vw;
    }
}