- var navbarmenu__items = ["All Deals", "Hotels", "Activities", "Hotel Day Packages", "Restaurants", "Events", "Rodrigues"]

nav.navbar-menu
    ul.navbar-menu__list
        for i in navbarmenu__items
            li.navbar-menu__item
                a.navbar-menu__link(href="#") #{i}