- var path = "/2_hotel-booking/blocks/activities/img/"

- 
    const activity = [
        {
            title: "The curious corner of chamarel",
            img: path+"activity-1.jpg",
        },
        {
            title: "Gymkhana club golf course",
            img: path+"activity-2.jpg"
        },
        {
            title: "Tamarind falls hiking trip - full day",
            img: path+"activity-3.jpg"
        },
        {
            title: "The blue marine discovery quest",
            img: path+"activity-4.jpg"
        },
    ]