form.search.navbar__search.navbar__search--hidden(action="#")

    input.search__input(type="text", placeholder="Search Location")
    
    button.search__button
        img.search__img(src="/2_hotel-booking/blocks/search/search.svg", alt="Icon:  Search")