form.search.navbar__search.navbar__search--hidden(action="#")

    .search__wrap
        input.search__input(
            type="text"
            name="searchLocation"
            placeholder="Search Location"
            required)
    
    button.search__button
        img.search__img(src="/2_hotel-booking/blocks/search/search.svg", alt="Icon:  Search")