@media (min-width: 1440px) {
    .navbar {
        &__wrap {
            justify-content: space-between;
        }

        &__logo-img {
            width: 177px;
            margin-right: none;

        &__search {
            margin-right: none;
        }
        }
    
    .search {
        max-width: 350px;

        &__input {
            max-width: 285px;
        }

        &__button {
            max-width: 65px;
        }
    }
    }
}

@media (max-width: 1345px) {
    .hotel-info {
        &__grid {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__swiper {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0 0 30px 0;
        }

        &__swiper-img {
            width: 100%;
            object-fit: cover;
        }

        &__right-wrap {
            flex-basis: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        &__booking {
            max-width: 350px;
            margin: 0 20px 0 0;
        }

        &__map {
            flex-grow: 1;
            height: 100%;
        }
    }
}

@media (max-width: 1130px) {
    .container {
        width: 700/768*100%;
    }
}

@media (max-width: 984px) {
    .reviews {
        padding-bottom: 50px;
        padding-top: 40px;
    }

    .activities {
        &__wrap {
            flex-wrap: wrap;
        }

        &__card {
            max-width: 47%;
            margin-bottom: 20px;

            &:nth-child(even) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .reviews {
        &__title {
            font-size: 25px;
            margin-bottom: 50px;
        }

        &__slider-item {
            max-width: 580px;

            &::before, &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 950px) {
    .packages {
        &__wrap {
            grid-template: 1fr 500px / repeat(2, 1fr);
        }
    }
}

@media (max-width: 870px) {
    .navbar {
        &-menu {
            &__link {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        &-menu {
            padding: 22px 0;

            &__link {
                font-size: 12px;
                line-height: 15px;
            }
        }

        &__wrap {
            padding: 30px 0;
        }

        &__logo-img {
            width: (133px/768px)*100vw;
        }
    }

    .hotel-info {
        padding-bottom: 60px;
    }

    .footer {

        &__wrap {
            grid-template-columns: repeat(3, minmax(min-content, 1fr));
            row-gap: 60px - 22px;

            &--top {
                margin-bottom: 61px;
                row-gap: 38px;
            }
        }

        &__logo {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: 104px;
        }

        &__socialnetwork {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            align-self: center;
        }

        &__categories {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &__additinal {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        &__legal {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        &__contacts {
            grid-row: 1 / 2;
            grid-column: span 3;
        }

        &__text {
            margin-bottom: 22px;
        }

        &__item {
            margin-bottom: 22px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__contact-form {
            grid-row: 2 / 3;
            grid-column: span 3;
        }

        &__info {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 720px) {
    .navbar {
        &__wrap {
            justify-content: space-between;
        }

        &-menu {
            display: none;
        }

        &__logo-img {
            width: 133px;
        }

        &__adaptive-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 11px;
            border: none;
            background-color: $light;
            cursor: pointer;
            padding: 0;
        }

        &__adaptive-line {
            background-color: $font-grey;
            width: 16px;
            height: 1px;
        }
    }

    .search {
        display: none;
    }

    .user {
        display: none;
    }

    .rating {
        display: none;
    }

    .hotel-info {
        &__wrap {
            flex-wrap: wrap;
        }

        &__wrapper {
            flex-basis: 100%;
            justify-content: space-between;
        }

        &__name {
            flex-basis: 100%;
            margin-top: 10px;

        }

        &__offer {
            order: -1;
            margin: 0;
        }

        &__stars {
            flex-basis: auto;
        }
    }

    .subscribe {
        &__wrap {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 0;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 24px;
        }

        &__strong {
            font-size: 30px;
        }

        &__form {
            max-width: 350px;
            width: 100%;
        }
    }

    .reviews {
        &__title {
            font-size: 30px;
            margin-bottom: 42px;
        }

        &__btn-prev {
            top: 30px;
            left: 50%;
            transform: translate(-50%, 0);
            margin-left: -65px;
        }
    
        &__btn-next {
            top: 30px;
            right: 50%;
            transform: translate(50%, 0);
            margin-right: -65px;
        }
    }
}

@media(max-width: 660px) {
    .hotel-info {
        &__right-wrap {
            flex-direction: column;
        }

        &__swiper {
            margin-bottom: 37px;
        }

        &__booking {
            max-width: none;
            margin: 0 0 20px 0;
        }

        &__map {
            height: 173px;
        }
    }
}

@media (max-width: 630px) {
    .packages {
        &__wrap {
            grid-template: 1fr 500px / repeat(1, 1fr);
        }

        &__card {
            &:first-child {
                grid-column-start: 1;
                grid-column-end: 1;
                flex-direction: column;
    
                & .packages__img {
                    height: 250px;
                    min-width: 100%;
                }
    
                & .packages__info {
                    padding: 30px 21px 25px 32px;
                    min-height: auto;
                }

                & .packages__bookInfoWrap {
                    padding-bottom: 37px;
                }
            }

            &:nth-child(n+4) {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .navbar {
        &__logo-img {
            width: 99px;
        }
    }

    .reviews {
        &__title {
            font-size: 22px;
            line-height: 22px;
        }
    }
}

@media (max-width: 548px) {
    .reviews {
        padding-bottom: 50px;
        padding-bottom: 60px;
    }

    .activities {
        padding-top: 40px;

        &__title {
            margin-bottom: 36px;
        }

        &__card {
            max-width: 100%;

            &:nth-child(odd) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 463px) {
    .footer {
        &__wrap {
            grid-template-columns: minmax(min-content, 1fr);
        }

        &__socialnetwork {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            flex-direction: column;
        }

        &__legal {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            justify-self: start;
        }

        &__additinal {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }

        &__categories {
            grid-row: 5 / 6;
            grid-column: 1 / 2;
        }

        &__contacts {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            //width: (290px / 320px) * 100vw;
        }

        &__contact-form {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            padding-right: 0;
        }

        &__form {
            grid-template-columns: 1fr;
        }

        &__input {
            &-phone {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }
        }

        &__message {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }

        &__prompt {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
            justify-self: start;
        }

        &__button {
            grid-row: 5 / 6;
            grid-column: 1 / 2;
        }

        &__info {
            flex-direction: column;
        }
    }
}