@media (min-width: 1440px) {
    .navbar {
        &__wrap {
            justify-content: space-between;
        }

        &__logo-img {
            width: 177px;
            margin-right: none;

        &__search {
            margin-right: none;
        }
        }
    
    .search {
        max-width: 350px;

        &__input {
            max-width: 285px;
        }

        &__button {
            max-width: 65px;
        }
    }
    }
}

@media (max-width: 1345px) {
    .hotel-info {
        &__grid {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__swiper {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0 0 30px 0;
        }

        &__swiper-img {
            width: 100%;
            object-fit: cover;
        }

        &__right-wrap {
            flex-basis: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        &__booking {
            max-width: 350px;
            margin: 0 20px 0 0;
        }

        &__map {
            flex-grow: 1;
            height: 100%;
        }
    }
}

@media (max-width: 870px) {
    .navbar {
        &-menu {
            &__link {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {
        width: 700/768*100%;
    }
}

@media (max-width: 768px) {
    .navbar {
        &-menu {
            padding: 22px 0;

            &__link {
                font-size: 12px;
                line-height: 15px;
            }
        }

        &__wrap {
            padding: 30px 0;
        }

        &__logo-img {
            width: (133px/768px)*100vw;
        }
    }

    .hotel-info {
        margin-bottom: 60px;
    }
}

@media (max-width: 720px) {
    .navbar {
        &__wrap {
            justify-content: space-between;
        }

        &-menu {
            display: none;
        }

        &__logo-img {
            width: 133px;
        }

        &__adaptive-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 11px;
            border: none;
            background-color: $light;
            cursor: pointer;
            padding: 0;
        }

        &__adaptive-line {
            background-color: $font-grey;
            width: 16px;
            height: 1px;
        }
    }

    .search {
        display: none;
    }

    .user {
        display: none;
    }

    .rating {
        display: none;
    }

    .hotel-info {
        &__wrap {
            flex-wrap: wrap;
        }

        &__wrapper {
            flex-basis: 100%;
            justify-content: space-between;
        }

        &__name {
            flex-basis: 100%;
            margin-top: 10px;

        }

        &__offer {
            order: -1;
            margin: 0;
        }

        &__stars {
            flex-basis: auto;
        }
    }

    .subscribe {
        &__wrap {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0 0;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 24px;
        }

        &__strong {
            font-size: 30px;
        }

        &__form {
            max-width: 350px;
            width: 100%;
        }
    }
}

@media(max-width: 660px) {
    .hotel-info {
        &__right-wrap {
            flex-direction: column;
        }

        &__swiper {
            margin-bottom: 37px;
        }

        &__booking {
            max-width: none;
            margin: 0 0 20px 0;
        }

        &__map {
            height: 173px;
        }
    }
}

@media (max-width: 576px) {
    .navbar {
        &__logo-img {
            width: 99px;
        }
    }
}

@media (max-width: 350px) {

}