* {
    box-sizing: border-box;
}

body {
    color: $font-grey;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: (1110px / 1440px) * 100vw;
    margin: auto;
}

@font-face {
    font-family: 'Mulish';
    src: url('/2_hotel-booking/fonts/Mulish-Bold.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Mulish-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/2_hotel-booking/fonts/Mulish-Light.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Mulish-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/2_hotel-booking/fonts/Mulish-Regular.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Mulish-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/2_hotel-booking/fonts/Mulish-SemiBold.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Mulish-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/2_hotel-booking/fonts/Nunito-Regular.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Nunito-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/2_hotel-booking/fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/2_hotel-booking/fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('/2_hotel-booking/fonts/Nunito-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}