//Подключение normalize
@import "normalize.scss";

//Подключение переменных
@import "_var.scss";

//Подключение миксинов
@import "_mixins.scss";

//Подключение базовых настроек
@import "_settings.scss";

//Подключение header
@import "../blocks/header/header.scss";

//Подключение breadcrumb
@import "../blocks/breadcrumb/breadcrumb.scss";

//Подключение стилей информации об отеле
@import "../blocks/hotel-info/hotel-info";

.hotel-info {
    margin-bottom: 70px;
}

//Подключение стилей подписки
@import "../blocks/subscribe/subscribe";

.subscribe {
    margin-bottom: 40px;
}

//Подключение стилей отзывов
@import "../blocks/reviews/reviews";

.reviews {
    margin-bottom: 70px;
}

//Подключение стилей для адаптива
@import "./media";