section.subscribe.content__subscribe
    img.subscribe__paralax(src="/hotel-booking/src/blocks/subscribe/subscribe__img.jpg", alt="Image for paralax" data-speed="0.6")
    .container
        .subscribe__wrap
            h2.subscribe__title(data-aos="fade-left" data-aos-delay="100" data-aos-easing="ease-in-sine") subscribe to our
                span.subscribe__strong <br>Newsletter
            
            form.subscribe__form(action="#" data-aos="fade-left" data-aos-delay="300" data-aos-easing="ease-in-sine")
                input.subscribe__input(
                    type="email"
                    name="subscribe"
                    placeholder="Your email address"
                    required)
                button.subscribe__button Send