doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/2_hotel-booking/css/style.css")
        script(src="/2_hotel-booking/js/jquery-3.6.0.min.js")
        title Best Tour Plan - Hotel Booking
    body
        include ./blocks/header/header.pug
        include ./blocks/breadcrumb/breadcrumb.pug
        include ./blocks/hotel-info/hotel-info.pug
        include ./blocks/subscribe/subscribe.pug
        include ./blocks/reviews/reviews.pug