<!-- Slider main container -->
.swiper
    .swiper-wrapper
        .swiper-slide
            img(src="/2_hotel-booking/blocks/slider/img/slide-1.jpg", alt="Slider")
        .swiper-slide
            img(src="/2_hotel-booking/blocks/slider/img/slide-1.jpg", alt="Slider")
        .swiper-slide
            img(src="/2_hotel-booking/blocks/slider/img/slide-1.jpg", alt="Slider")

    button.swiper__btn.swiper-button-prev
    button.swiper__btn.swiper-button-next

script(src="/2_hotel-booking/blocks/slider/js/swiper-bundle.min.js")
script(src="/2_hotel-booking/blocks/slider/js/swiper-bundle.min.js")
script(src="/2_hotel-booking/blocks/slider/js/main.js")