include ./config.pug

header
    .navbar__top
        .container
            .navbar__wrap
                a.navbar__logo(href="#")
                    img.navbar__logo-img(src="/2_hotel-booking/blocks/header/img/logo-horizontal.svg", alt="Logo: Best Tour Plan")

                include ../search/search.pug

                a.user(href="#") 
                    img.user__avatar(src="/2_hotel-booking/blocks/header/img"+avatar, alt="User Avatar")
                    span.user__name #{username}

                button.navbar__adaptive-btn
                    - for (var x = 0; x < 3; x++)
                        span.navbar__adaptive-line

    .navbar-bottom
        .container
            nav.navbar-menu
                ul.navbar-menu__list
                    for i in navbarmenu__items
                        li.navbar-menu__item
                            a.navbar-menu__link(href="#") #{i}