.navbar__top
    a.navbar__logo(href="#")
    img.navbar__logo-img(src="/2_hotel-booking/blocks/header/logo-horizontal.svg", alt="Logo: Best Tour Plan")


    block variables
        - var element = "navbar__search"
    include ../search/search.pug

    include ../user/user.pug