include ./config.pug

.swiper.hotel-info__swiper
    .swiper-wrapper
        for i in hotelPhotos
            .swiper-slide.hotel-info__slider-item
                img(src=i alt="Slider").hotel-info__swiper-img

    button.swiper__btn.swiper-button-prev
    button.swiper__btn.swiper-button-next