include ./config.pug

.swiper.hotel-info__swiper
    .swiper-wrapper
        for i in hotelPhotos
            .swiper-slide
                img(src=i alt="Slider").hotel-info__swiper-img

    button.swiper__btn.swiper-button-prev
    button.swiper__btn.swiper-button-next

script(src="/2_hotel-booking/blocks/hotel-info/slider/js/swiper-bundle.min.js")
script(src="/2_hotel-booking/blocks/hotel-info/slider/js/swiper-bundle.min.js.map")
script(src="/2_hotel-booking/blocks/hotel-info/slider/js/main.js")